* {
    font-family: 'Open Sans', sans-serif;

}

nav {
    display: inline;
    float: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(12, 166, 237, .3);
    flex-wrap: wrap;

    
}

nav a {
    font-size: 5vh;
    margin: 5px;
    text-decoration: none;
    color: white;
}

nav button {
    margin-left: 30px;
    margin-right: 10px;
    height: 3rem;
    width: 6rem;
    background-color: rgb(59, 227, 76);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.main-photo {
    width: 1500;
    height: 800px;        
    background: url("./images/Cagwait Beach.png") no-repeat;
    background-size: cover;
}

.nav-logo {
    width: 200px;
    height: 100px;
}

main h3 {
    font-size: 5rem;
    text-align: center;
    color: white;
}

main {
    background-color: grey;
}

section {
    width: 80vw;
    margin: 20px auto;
    padding-bottom: 20px;
}

article {
    margin: 20px;
    background-color: lightblue;
}

article p {
    color: white;
    font-size: 1.5rem;
    margin: 20px;
    display: inline-block;
}

article .image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

article .image-container img{
    width: 30%;
    height: 20%;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer span {
    margin: 20px;
    font-weight: bold;
}


article[class="second"] img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px auto;
}

article[class="second"] ul {
    color: white;
    font-size: 1.5rem;
    margin-left: 30px;

}

article[class="third"] .video {
    text-align: center;
}

